*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(230, 244, 243);
}
.authentication{
    gap: 50px;
    height: 100%;
    color: #1E1E1E;
    display: flex;
    align-items: start;
    justify-content: space-between;
    > div{
        width: 50%;
        > div{
            height: 100%;
            width: 350px;
            padding: 25px;
            background: #029687;
        }
    }
    > form{
        width: 50%;
        padding: 120px;
        > h1{
            font-size: 40px;
            letter-spacing: 1px;
            margin-top: 20px;
            font-weight: 600;
        }
        > div{
            margin-top: 20px;
        }
        .password-section > div,
        > div{
            > label{
                font-size: 18px;
                font-weight: 500;
            }
            > input{
                width: 100%;
                padding: 17px;
                margin-top: 8px;
                outline: none;
                border: 1.8px solid #029687;
                border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                -ms-border-radius: 8px;
                -o-border-radius: 8px;
            }
            > input,
            > input::placeholder{
                color: #525B61;
                font-size: 16px;
                font-weight: 500;
            }
        }
        .password-section{
            gap: 20px;
            display: flex;
            width: 100%;
            > div{
                width: 50%;
                > input{
                    position: relative;
                }
                >i{
                    cursor: pointer;
                    color: #525B61;
                    margin-left: -35px;
                    margin-top: 28px;
                    position: absolute;
                }
            }
        }
        > .Remember-section{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            > div {
                gap: 10px;
                display: flex;
                align-items: center;
                > input{
                    width: 18px;
                    height: 18px;
                    padding: 0%;
                    cursor: pointer;
                    accent-color: #029687;
                }
                > label{
                    color: #383838;
                    font-size: 18px;
                    font-weight: 400;
                    cursor: pointer;
                }
            }
            > a{
                color: #029687;
                font-weight: 450;
                text-decoration: none;
            }
        }
        > .submit-btn{
            width: 100%;
            border: none;
            color: #fff;
            padding: 17px;
            cursor: pointer;
            font-size: 18px;
            margin-top: 30px;
            background-color: #029687;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
        }
    }
}

.Password{
    > input{
        position: relative;
    }
    > i{
        cursor: pointer;
        margin-top: 28px;
        color: #525B61;
        margin-left: -35px;
        position: absolute;
    }
}


.auth-bg{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 150, 135);
    > div{
        width: 900px;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(230, 244, 243);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        > form{
            width: 500px;
            > .form-top{
                display: flex;
                align-items: center;
                flex-direction: column;
                > .create-new,
                > img{
                    margin-bottom: 30px;
                }
                > h1{
                    font-size: 35px;
                    font-weight: 600;
                    font-family: sans-serif;
                }
                > div{
                    max-width: 300px;
                    font-size: 14px;
                    color: #4D4D4D;
                    margin-top: 30px;
                    text-align: center;
                }
            }
            > .input-section{
                margin-top: 30px;
                > label{
                    font-size: 15px;
                    font-weight: 600;
                    justify-content: start;
                }
                > input{
                    width: 100%;
                    padding: 17px;
                    outline: none;
                    margin-top: 10px;
                    border: 1.8px solid #029687;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                }
                > input,
                > input::placeholder{
                    font-size: 16px;
                    font-weight: 500;
                    color: #4D4D4D;
                }
            }
            > a{
                width: 100%;
                margin-top: 40px;
                padding: 17px;
                border: none;
                color: #fff;
                font-size: 16px;
                cursor: pointer;
                display: flex;
                text-decoration: none;
                align-items: center;
                justify-content: center;
                background-color: #029687;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }
        }
    }
}

/* reset password */
.verify-codes{
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    > input{
        width: 70px !important;
        height: 70px;
        outline: none;
        border: 1.8px solid #029687;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
    > input,
    > input::placeholder{
        color: #4D4D4D;
        font-weight: 550;
        padding: 6px;
        font-size: 30px !important;
    }
}
.receive-code{
    gap: 5px;
    display: flex;
    margin-top: 30px;
    color: #737373;
    align-items: center;
    justify-content: center;
    > button{
        border: none;
        color: #029687;
        font-size: 16px;
        font-weight: 550;
        cursor: pointer;
        border-bottom: 1px solid #029687;
        background-color: transparent;
    }
}

/* create new password */
.auth-bg{
    > div{
        > form{
            > div{
                > label{
                    font-size: 18px;
                    font-weight: 500;
                    color: #41484D;
                }
                > input{
                    width: 100%;
                    padding: 17px;
                    margin-top: 8px;
                    outline: none;
                    position: relative;
                    border: 1.8px solid #029687;
                    border-radius: 8px;
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    -ms-border-radius: 8px;
                    -o-border-radius: 8px;
                }
                > input,
                > input::placeholder{
                    color: #525B61;
                    font-size: 16px;
                    font-weight: 500;
                }
                > i{
                    position: absolute;
                    margin-top: 25px;
                    margin-left: -35px;
                    color: #525B61;
                    cursor: pointer;
                }
            }
        }
    }
}