.sub-admin-user{
    display: block !important;
    > div{
            margin-top: 20px !important;
    }
}

/* sub admin presentation */
.presentation{
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    > div{
        width: 250px;
        padding: 20px;
        color: #029687;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border: 1.6px solid #04A488;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        input[type="checkbox"] {
            display: none; 
        }
        input[type="checkbox"] + label {
            position: relative;
            padding-left: 30px; 
            cursor: pointer;
        }
        input[type="checkbox"] + label::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            border: 2px solid  #04A488;
            background-color: white;
            transition: background-color 0.3s, border-color 0.3s;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }
        input[type="checkbox"]:checked + label::before {
            background-color:  #04A488;
            border-color:  #04A488;
        }
        >label{
            margin-top: -20px !important;
            position: relative;
            >.admin-check-mark{
                height: 8.5px;
                margin-top: 6px;
                margin-left: -25px;
                position: absolute;
            }
        }
    }
}